h1{
    font-size: 60px;
}
.wrapper {
    display: grid;
    grid-template-rows: auto;
    height: 100vh;
    width: auto;
    text-align: center;
    margin: 0, auto;

}
.header{
    background-color: #5B483A;
    border: 1px;
    display: grid;



}
.about, .search, .help, .donate {
    background-color: #262425;
    border: 1px;
}
.make{
    appearance: none;
    background: #F1CDB3;
    padding: 15px, 45px, 15px, 45px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}